*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: black;
}

h1 {
  font-size: 2.2rem;
  margin: 0 auto;
}

h2 {
  font-size: 1.85rem;
  color: gray;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}

h4 {
  font-size: 1.25rem;
  color: gray;
  margin: 0 auto;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

ul {
  list-style: none;
  font-size: 1.125rem;
  margin: 0 auto;
}

ul li {
  margin-bottom: 1.5em;
}

a {
  color: orange;
}

a:hover {
  text-decoration: none;
}

nav a {
  display: block;
  font-size: 1.25rem;
  color: limegreen;
  padding-bottom: 0.15em;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  text-decoration: none;
}

nav a:hover, 
.nav-active {
  color: darkorange;
}

.categories a {
  font-weight: 500;
  color: gray;
  text-decoration: none;
  padding: 0.25em 0.4em;
}
.categories a:hover, 
a.category-active {
  color: white;
  background-color: gray;
  border-radius: 3px;
}

.session a {
  display: block;
  color: limegreen;
  text-decoration: none;
  border: 1px solid currentColor;
  padding: 0.85em 1.125em;
  border-radius: 3px;
}

.session a:hover, 
a.session-active {
  color: orange;
}

.logo {
  width: 220px;
}

.img-feat {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 1.5em;
}

.categories {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

ul.session-list {
  display: flex;
}

.session {
  margin-left: 1.25em;
}

.session-name {
  font-size: 1.125rem;
  font-weight: bold;
}

.session p {
  margin: 0 auto;
}

form {
  font-size: 1.25rem;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: 500;
  margin-top: 2.5em;
}

input, select {
  font-size: 1em;
  margin-top: 2.5em;
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 3px;
}

input[type="submit"] {
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 0.65em 0;
  background-color: limegreen;
  border: none;
}
input[type="submit"]:hover {
  background-color: orange;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1.75em 0;
}

.not-found {
  text-align: center;
}

.not-found::before {
  content: "😕";
  margin-right: 0.35em;
}

footer.container {
  padding: 2.25em 0;
  margin-top: 2.5em;
  border-top: 1px solid gray;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}


@media (max-width: 767px) {
  nav a {
    padding: 0.35em 0;
  }
}

@media (min-width: 768px) {
  header, 
  nav {
    display: flex;
    align-items: center;
  } 
  header.container {
    margin-bottom: 1em;
  }
  nav {
    margin-left: 1.25em;
  }
  nav a {
    margin-left: 1.25em;
  }
  .nav-active {
    border-bottom: 2px solid currentColor;
  }
  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  form {
    width: 60%;
  }
}